<div ng-controller = "index" ng-init = "Init()">
    <div class="page">
        <div class="page-content container-fluid">
          <div class="row" data-plugin="matchHeight" data-by-row="true">
              <div class="row h-full" data-plugin="matchHeight">
                <div class="col-xxl-12 col-lg-12 col-sm-12">
                  <div class="card card-shadow card-completed-options">
                    <div class="card-block p-30">
                      <div class="row">
                        <div class="col-6">
                          <div class="counter text-left blue-grey-700">
                            <div class="counter-label mt-10">Toplam Siparişler
                            </div>
                            <div class="counter-number font-size-40 mt-10">
                              1232
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="pie-progress pie-progress-sm" data-plugin="pieProgress" data-valuemax="100"
                            data-barcolor="#57c7d4" data-size="100" data-barsize="10"
                            data-goal="86" aria-valuenow="86" role="progressbar">
                            <span class="pie-progress-number blue-grey-700 font-size-20">
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-12 col-lg-12 col-sm-12">
                  <div class="card card-shadow card-completed-options">
                    <div class="card-block p-30">
                      <div class="row">
                        <div class="col-6">
                          <div class="counter text-left blue-grey-700">
                            <div class="counter-label mt-10">Aktif Siparişler
                            </div>
                            <div class="counter-number font-size-40 mt-10">
                              698
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="pie-progress pie-progress-sm" data-plugin="pieProgress" data-valuemax="100"
                            data-barcolor="#62a8ea" data-size="100" data-barsize="10"
                            data-goal="62" aria-valuenow="62" role="progressbar">
                            <span class="pie-progress-number blue-grey-700 font-size-20">

                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xxl-12 col-lg-12 col-sm-12">
                  <div class="card card-shadow card-completed-options">
                    <div class="card-block p-30">
                      <div class="row">
                        <div class="col-6">
                          <div class="counter text-left blue-grey-700">
                            <div class="counter-label mt-10">Tamamlanan Siparişler
                            </div>
                            <div class="counter-number font-size-40 mt-10">
                              1358
                            </div>
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="pie-progress pie-progress-sm" data-plugin="pieProgress" data-valuemax="100"
                            data-barcolor="#926dde" data-size="100" data-barsize="10"
                            data-goal="56" aria-valuenow="56" role="progressbar">
                            <span class="pie-progress-number blue-grey-700 font-size-20">
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>